# redirect root to php
DirectoryIndex http.php

# redirect /something to php?path=$1
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /http.php?path=$1 [NC,L,QSA]

# redirect msqqli requet to specific db
php_value mysqli.default_socket /tmp/mariadb55.sock
